<p>
  <strong>Computer number:</strong>
  <%= @problem.computer_num %>
</p>
 
<p>
  <strong>Description:</strong>
  <%= @problem.detail %>
</p>
 
<p>
  <strong>Fixed:</strong>
  <%= @problem.status %>
</p>
<%= link_to 'Back', problems_path %>
